<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="pushe-cordova-plugin"
    version="1.4.0">
	
    <name>PusheCordovaPlugin</name>
    <description>Integration of Pushe library to Cordova</description>
    <author>Milad Mohammadi Rezagah</author>
    <license>Apache 2.0</license>
    <keywords>pushe,cordova</keywords>
    <repo>https://github.com/miladesign/pushe-cordova-plugin</repo>
    <issue>https://github.com/miladesign/pushe-cordova-plugin/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
    
    <js-module src="www/pushe.js">
        <clobbers target="window.pushe" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PusheCordovaPlugin" >
                <param name="android-package" value="co.ronash.pushe.cordova.PusheCordovaPlugin"/>
            </feature>
        </config-file>
		
		<preference name="PUSHE_TOKEN" default="PUSHE_TOKEN" />
		<preference name="PUSHE_CR" default="PUSHE_CR" />
        
        <source-file src="src/PusheCordovaPlugin.java" target-dir="src/co/ronash/pushe/cordova" />
        <framework src="src/pushebuild.gradle" custom="true" type="gradleReference" />
        <resource-file src="pushe-lib/Pushe.aar" target="libs/Pushe.aar" />
        <resource-file src="pushe-lib/play-services-base-11.8.0.aar" target="libs/play-services-base-11.8.0.aar" />
        <resource-file src="pushe-lib/play-services-basement-11.8.0.aar" target="libs/play-services-basement-11.8.0.aar" />
        
        <source-file src="src/android-job-1.2.4.jar" target-dir="libs" />
        <source-file src="src/support-compat-26.0.2.jar" target-dir="libs" />
        <source-file src="src/support-core-ui-26.0.2.jar" target-dir="libs" />
        <source-file src="src/support-core-utils-26.0.2.jar" target-dir="libs" />
        <source-file src="src/support-fragment-26.0.2.jar" target-dir="libs" />
        <source-file src="src/support-media-compat-26.0.2.jar" target-dir="libs" />
        <source-file src="src/support-v4-26.0.2.jar" target-dir="libs" />
        
        <source-file src="src/play-services-gcm-11.8.0.jar" target-dir="libs" />
        <source-file src="src/play-services-iid-11.8.0.jar" target-dir="libs" />
        <source-file src="src/play-services-location-11.8.0.jar" target-dir="libs" />
        <source-file src="src/play-services-tasks-11.8.0.jar" target-dir="libs" />
    
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            
            <!-- Optional permissions -->
            <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
            
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_REPLACED" />
                    <data
                    android:path="$PACKAGE_NAME"
                    android:scheme="package" />
                </intent-filter>
            </receiver>

            <service
                android:name="co.ronash.pushe.service.GcmService"
                android:exported="false" android:priority="999">
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                </intent-filter>
            </service>
            
            <receiver
                android:name="co.ronash.pushe.receiver.FallbackGcmNetworkManagerReceiver"
                android:exported="true" >
                <intent-filter>
                    <action android:name="co.ronash.pushe.CHECK_TASKS" />
                </intent-filter>
            </receiver>
            
            <service
                android:name="co.ronash.pushe.service.FallbackGcmTaskRunner"
                android:exported="false" >
                <intent-filter>
                    <action android:name="co.ronash.pushe.ACTION_TASK_READY" />
                </intent-filter>
            </service>
            <service
                android:name="co.ronash.pushe.task.scheduler.gcm.GcmTaskRunner"
                android:exported="true"
                android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" >
                <intent-filter>
                    <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
                </intent-filter>
            </service>
            <service
            android:name="co.ronash.pushe.service.IntentTaskRunner"
            android:exported="false" />
            <service
                android:name="co.ronash.pushe.service.InstanceIDService"
                android:exported="false" >
                <intent-filter>
                    <action android:name="com.google.android.gms.iid.InstanceID" />
                </intent-filter>
            </service>
            <activity
                android:name="co.ronash.pushe.activities.PopupDialogActivity"
                android:theme="@style/PusheTransparent" >
            </activity>
            
            <service
                android:name="co.ronash.pushe.cordova.PusheCordovaPlugin$CustomContentListener"
                android:exported="false">
                <intent-filter>
                    <action android:name="co.ronash.pushe.RECEIVE" />
                </intent-filter>
            </service>
            
            
            <receiver android:name="co.ronash.pushe.receiver.BootAndScreenReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
            
            <service android:name="co.ronash.pushe.service.ScreenStateService" >
                <intent-filter>
                    <action android:name="co.ronash.pushe.service.ScreenStateService" />
                </intent-filter>
            </service>
            
            <activity android:name="co.ronash.pushe.activities.WebviewActivity" >
            </activity>
            <activity
                android:name="co.ronash.pushe.activities.RequestAccessDialogActivity"
                android:theme="@style/PusheTransparent" >
            </activity>
            
            <service android:name=".service.PusheActivityService"/>
            
            <receiver android:name="co.ronash.pushe.receiver.AppUsageAlarmReceiver">
            </receiver>
            
            <receiver
                android:name="co.ronash.pushe.receiver.AddReceiver"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.evernote.android.job.ADD_JOB_CREATOR"/>
                </intent-filter>
            </receiver>
            
            <receiver android:name="co.ronash.pushe.receiver.AppChangeReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_INSTALL" />
                    <action android:name="android.intent.action.PACKAGE_ADDED" />
                    <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                    <data android:scheme="package"/>
                </intent-filter>
            </receiver>
            
            <receiver android:name="co.ronash.pushe.receiver.ConnectivityReceiver">
                <intent-filter>
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                </intent-filter>
            </receiver>
            
            <service
                android:name="com.evernote.android.job.gcm.PlatformGcmService"
                android:exported="true"
                android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" >
                <intent-filter>
                    <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
                </intent-filter>
            </service>
            <!-- evernote services -->
            <service  android:name="com.evernote.android.job.v21.PlatformJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
            <service android:name="com.evernote.android.job.v14.PlatformAlarmService"
            android:exported="false" />
            
            <receiver
                android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
                android:exported="false" >
                <intent-filter>
                    <!-- Keep the filter for legacy intents -->
                    <action android:name="com.evernote.android.job.v14.RUN_JOB" />
                    <action android:name="net.vrallev.android.job.v14.RUN_JOB" />
                </intent-filter>
            </receiver>
            
            <receiver
                android:name="com.evernote.android.job.JobBootReceiver"
                android:exported="false" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
            
            <provider
                android:name="co.ronash.pushe.provider.PusheProvider"
                android:authorities="$PACKAGE_NAME.co.ronash.pushe.pusheprovider"
                android:exported="false"
                android:enabled="true"
                android:grantUriPermissions="true">
                <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
            </provider>

            <service
                android:name="co.ronash.pushe.task.tasks.NetworkConnect"
                android:permission="android.permission.BIND_JOB_SERVICE" />

            <service android:name="co.ronash.pushe.receiver.PusheGcmReceiver"
                android:permission="android.permission.BIND_JOB_SERVICE" />
                
            <receiver
                android:name="com.google.android.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                    
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
            
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
            <meta-data android:name="co.ronash.pushe.token" android:value="$PUSHE_TOKEN"/>
            <meta-data android:name="co.ronash.pushe.cr" android:value="$PUSHE_CR"/>  
        </config-file>
    
    </platform>
</plugin>
